################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ModernECommerce/DesignTimeBuild
/.vs/ModernECommerce/v15/Server/sqlite3
/Node/NotificationService/package-lock.json
